h1 
{color: white;
position: relative;
font-family: 'anticslab';}
h2
{color: rgb(255, 222, 222);
font-size: 1.55em;
font-family: 'anticslab';
}
h3{color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-family: 'anticslab';}

p{color: rgb(0, 0, 0);
    font-size: 0.95em;
    font-family: 'anticslab';}

#bola1{position: absolute;
    width: 511px;
    height: 511px;
    left: 1030px;
    top: 290px;
    border-radius: 100%;
    background: rgba(255, 217, 224, 0.63);}

    #bola2{
        position: absolute;
        width: 611px;
        height: 611px;
        left: 0px;
        top: 90px;
        border-radius: 100%;
        background: rgba(255, 217, 224, 0.63);}

   
    #espaco{
        height:80px;
        margin-top: 700px;}

    input{
        position: absolute;
        width: 450px;
        height: 33px;
        margin: 0px;
        background: #EFA0AE;
        text-align: start;
        border-radius: 20px;}
#prescricao::placeholder{
  position: absolute;
        top: 10px; 
        left: 10px;
}

      #logo2{width: 350px;
        height: 80px;}
        
      #logo{
      background-color: #EFA0AE;
      height: 80px;
      width: 100%;
      top: 0px;
      margin-left: -8px;
      position: absolute;}
      
      #pesquisa{
        background-color: #c17884;
        height: 50px;
        width: 100%;
        top: 80px;
        margin-left: -8px;
        position: absolute;}
      
 

        #botao {
          margin-left: 40px;
          background-color: #c17884;
          width: 280px;
          height: 45px;
          position: relative;
          top: 2.5px;
          font-family: 'anticslab';
          left: 78px;
          text-align: center;
          font-size: 1.40em;
          color: rgb(255, 222, 222);
          font-family: 'anticslab';
          text-decoration: none;
          border: none;
          border-radius: 0px;
        }
        
        #botao:hover {
          background-color: #eea1ae;
        }
        #botao:active {
          background-color: #d08995;
        }
        .td {
          background-color: #c17884;
          width: 280px;
          height: 45px;
      }