h1 
{color: white;
position: relative;
font-family: 'anticslab';}
h2
{color: rgb(255, 222, 222);
font-size: 1.55em;
font-family: 'anticslab';
}
h3{color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-family: 'anticslab';}

p{color: rgb(0, 0, 0);
    font-size: 0.95em;
    font-family: 'anticslab';}

#bola1{position: fixed;
    width: 511px;
    height: 511px;
    left: 1030px;
    top: 290px;
    border-radius: 100%;
    background: rgba(255, 217, 224, 0.63);}

    #bola2{
        position: fixed;
        width: 611px;
        height: 611px;
        left: 0px;
        top: 90px;
        border-radius: 100%;
        background: rgba(255, 217, 224, 0.63);}



      #logo2{width: 350px;
        height: 80px;}
        
      #logo{
      background-color: #EFA0AE;
      height: 80px;
      width: 100%;
      top: 0px;
      margin-left: -8px;
      position: absolute;}
      
      #pesquisa{
        background-color: #c17884;
        height: 50px;
        width: 100%;
        top: 80px;
        margin-left: -8px;
        position: absolute;}
      
 

        #botao {
          margin-left: 40px;
          background-color: #c17884;
          width: 280px;
          height: 45px;
          position: relative;
          top: 2.5px;
          font-family: 'anticslab';
          left: 78px;
          text-align: center;
          font-size: 1.40em;
          color: rgb(255, 222, 222);
          font-family: 'anticslab';
          text-decoration: none;
          border: none;
          border-radius: 0px;
        }
        
        #botao:hover {
          background-color: #eea1ae;
        }
        #botao:active {
          background-color: #d08995;
        }
               
        .table-container {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
        }
        
        table {
          border-collapse: collapse;
          width: 60%;
          background-color: pink;
          border: 2px solid #d9534f;
          text-align: center;
        }
        
        th, td {
          padding: 10px;
          border: 1px solid #d9534f;
        }
        
        th {
          background-color: #f2b2b2;
          font-weight: bold;
        }

        #voltar {
          display: inline-block;
          background-color: #CE8DDE;
          width: 80px;
          height: 35px;
          position: absolute;
          top: 50px;
          left: 80px;
          border-radius: 12px;
          text-align: center;
          font-size: small;
          text-decoration: none;}
          #voltar:hover {background-color: #CE8DDE;}
          #voltar:active {background-color: #CE8DDE;}