body
{background-color: #AEDDFF;
overflow-x: hidden;}
#voltar {
    display: inline-block;
    background-color: #40AEFF;
    width: 80px;
    height: 35px;
    position: absolute;
    top: 50px;
    left: 80px;
    border-radius: 12px;
    text-align: center;
    font-size: small;
    text-decoration: none;}
    #voltar:hover {background-color: #40AEFF;}
  #voltar:active {background-color: #40AEFF;}
  #M {
    display: inline-block;
    background-color: #40AEFF;
    width: 150px;
    height: 45px;
    position: absolute;
    top: 50px;
    left: 650px;
    border-radius: 12px;
    text-align: center;
    font-size: small;
    text-decoration: none;}
  #salvar {
    display: inline-block;
    background-color: #40AEFF;
    width: 100px;
    height: 45px;
    position: absolute;
    top: 700px;
    left: 1400px;
    border-radius: 12px;
    text-align: center;
    font-size: small;
    text-decoration: none;}
    #salvar:hover {background-color: #40AEFF;}
  #salvar:active {background-color: #40AEFF;}
  #bola1{
    background-color: #40AEFF;
    height: 555px;
    border-radius: 50%;
    top: 200px;
    width: 37%;
    margin-left: 0px;
    position:absolute;}
    #bola2{
        background-color: #40AEFF;
        height: 405px;
        border-radius: 50%;
        top: 0px;
        width: 27%;
        margin-left: 1000px;
        position:absolute;}
    #informa{
      position: absolute;
      margin-top: 600px;
      left: 500px;
      }
      p{color: rgb(0, 0, 0);
        font-size: 0.95em;
       }
    input{
      position: absolute;
      width: 600px;
      height: 28px;
      background: #FFFFFF;
      border-radius: 20px;
    }
 
#nc{position: absolute; top: 100px; margin-left: 80px;}
#nci{top: 145px; margin-left: 75px;}

#cpf{position: absolute; top: 195px; margin-left: 80px;}
#cpfi{top: 240px; margin-left: 75px;}

#email{position: absolute; top: 290px; margin-left: 80px;}
#emaili{top: 335px; margin-left: 75px}

#cremail{position: absolute; top: 100px; margin-left: 820px;}
#cremaili{top: 145px; margin-left: 820px;}

#coema{position: absolute; top: 195px; margin-left: 820px;}
#coemai{top: 240px; margin-left: 820px}

#crse{position: absolute; top: 290px; margin-left: 820px;}
#crsei{ top: 335px; margin-left: 820px;}

#cose{position: absolute; top: 385px; margin-left: 820px;}
#cosei{top: 430px; margin-left: 820px}

#dtna{position: absolute; top: 385px; margin-left: 80px;}
#dtnai{width: 150px; height: 25px; top: 430px; margin-left: 80px}