body{
  margin: 10px;
  overflow-x: hidden;

}

#cabecalho{
  background-color: #e49aa7;
  height: 120px;
  width: 100%;
  top: 0px;
  position:absolute;
}
input{
  position: absolute;
  width: 450px;
  height: 33px;
  margin: 0px;
  background: #EFA0AE;
  text-align: start;
  border-radius: 20px;}

  #logo2{width: 350px;
      height: 80px;}
      
    #logo{
    background-color: #EFA0AE;
    height: 80px;
    width: 100%;
    top: 0px;
    margin-left: -8px;
    position: absolute;}
    
    #pesquisa{
    background-color: #c17884;
    height: 50px;
    width: 100%;
    top: 80px;
    margin-left: -8px;
    position: absolute;}
  
    #posicaoBOT{
      margin-left: 7px;
      width: 99%;
      height: 64px;
    }
  
    #botao {
      margin-left: 135px;
      background-color: #c17884;
      width: 200px;
      height: 45px;
      position: relative;
      top: 2.5px;
      font-family: 'anticslab';
      left: 5px;
      text-align: center;
      font-size: 1.35em;
      color: rgb(255, 222, 222);
      font-family: 'anticslab';
      text-decoration: none;
      border: none;
      border-radius: 0px;
    }
    
    #botao:hover {
      background-color: #eea1ae;
    }
    #botao:active {
      background-color: #d08995;
    }
         
  
    #retaP{
      background-color: #ee96a6;
      height: 105%;
      width: 5px;
      position: absolute;
      margin-left: 745px;
      margin-top: -10px;
  }

  #cli{margin-top: 140px; margin-left: 50px; font-size: larger;}

  #barra{margin-top: 25px; margin-left: 20px; width: 680px; height: 40px; border: none; background-color: #F9DEE3;
  text-align: center;}
  #corpo{margin-top: 65px; margin-left: 20px; width: 680px; height: 280px; border: none; background-color: #FBEEF0;}

  #ho{
      margin-top: 120px;
      margin-left: 400px;
      width: 290px;
      color: black;
      text-align: justify;
      border: none;
      position: absolute;
    }
    .custom-imputho::before {
      content: "Horario da consulta: ";
      color: black;
      text-align: justify;
    }

    #da{
      margin-top: 120px;
      margin-left: 30px;
      width: 290px;
      color: black;
      text-align: justify;
      border: none;
      position: absolute;       
    }
    .custom-input::before {
      content: "Data da consulta: ";
      color: black;
      text-align: justify;
    }

    #no{
      margin-top: 75px;
      margin-left: 30px;
      width: 660px;
      border: none;
      font-size: small;

  }
  input::placeholder{
      color: black;
    }

    #meda{
      margin-top: 165px;
      margin-left: 30px;
      width: 660px;
      border: none;
      font-size: small;
  }
  #mot{
      margin-top: 225px;
      margin-left: 30px;
    }
    textarea{
      height: 100px;
      width: 660px;
      background: #EFA0AE;
      border-radius: 12px;
      resize: none;
      border: none;
      position: absolute;
      text-align: justify;
    }
    textarea::placeholder{
      color: black;
    }


#barra2{margin-top: 170px; margin-left: 20px; width: 680px; height: 40px; border: none; background-color: #F9DEE3;       text-align: center;} 
#corpo2{margin-top: 215px; margin-left: 20px; width: 680px; height: 280px; border: none; background-color: #FBEEF0;}

#no2{
  margin-top: 230px;
  margin-left: 30px;
  width: 660px;
  border: none;
  font-size: small;

}
input::placeholder{
  color: black;
}

#ho2{
  margin-top: 275px;
  margin-left: 400px;
  width: 290px;
  color: black;
  text-align: justify;
  border: none;
  position: absolute;
}
.custom-imputho2::before {
  content: "Horario da consulta: ";
  color: black;
  text-align: justify;
}

#da2{
  margin-top: 275px;
  margin-left: 30px;
  width: 290px;
  color: black;
  text-align: justify;
  border: none;
  position: absolute;       
}
.custom-input2::before {
  content: "Data da consulta: ";
  color: black;
  text-align: justify;
}

#meda2{
  margin-top: 315px;
  margin-left: 30px;
  width: 660px;
  border: none;
  font-size: small;}

  #mot2{
    margin-top: 360px;
    margin-left: 30px;
    position: absolute;
  }

  

#caco{margin-top: -35px; margin-left: 775px; font-size: larger; position: absolute;}

#corpo3{margin-top: -520px; margin-left: 740px; width: 700px; height: 230px; border: none; background-color: #FBEEF0;}

#no3{
  margin-top: -495px;
  margin-left: 760px;
  width: 660px;
  border: none;
  font-size: small;

}
input::placeholder{
  color: black;
}

#ho3{
  margin-top: -430px;
  margin-left: 1130px;
  width: 290px;
  color: black;
  text-align: justify;
  border: none;
  position: absolute;
}
.custom-imputho3::before {
  content: "Horario da consulta: ";
  color: black;
  text-align: justify;
}

#da3{
  margin-top: -430px;
  margin-left: 760px;
  width: 290px;
  color: black;
  text-align: justify;
  border: none;
  position: absolute;       
}
.custom-input3::before {
  content: "Data da consulta: ";
  color: black;
  text-align: justify;
}

#meda3{
  margin-top: -365px;
  margin-left: 760px;
  width: 660px;
  border: none;
  font-size: small;}

#aviso{margin-left: 760px; margin-top:-250px; font-size: larger; position: absolute; width: 500px; }
#corpo4{margin-top: -170px; margin-left: 740px; width: 700px; height: 230px; border: none; background-color: #FBEEF0;}

#no4{
  margin-top: -150px;
  margin-left: 760px;
  width: 660px;
  border: none;
  font-size: small;

}
#mot4{
  margin-top: -80px;
  margin-left: 760px;
 
}
textarea{
  height: 100px;
  width: 660px;
  background: #EFA0AE;
  border-radius: 12px;
  resize: none;
  border: none;
  position: absolute;
  text-align: justify;
}
textarea::placeholder{
  color: black;
}

#salvar{margin-top: 200px;
 margin-left: 1300px;
 width: 120px;
 border: none;
 text-align: center;
 text-decoration: none;
 font-family: 'anticslab';}

#salvar:hover {
background-color: #f5b5c0;
}
#salvar:active {
background-color: #d08995;
}

