  body{overflow-x: hidden;}
        h1 
        {color: white;
        position: relative;
        font-family: 'anticslab';}
        h2
        {color: rgb(255, 222, 222);
        font-size: 1.55em;
        font-family: 'anticslab';
        }
        h3{color: rgb(0, 0, 0);
            font-size: 1.2em;
            font-family: 'anticslab';}

        p{color: rgb(0, 0, 0);
            font-size: 0.95em;
            font-family: 'anticslab';}

      input{
        position: absolute;
        width: 450px;
        height: 33px;
        margin: 0px;
        background: #EFA0AE;
        text-align: start;
        border-radius: 20px;
        border: none;}
        
      

#bola1{position: absolute;
    width: 511px;
    height: 511px;
    left: 1030px;
    top: 290px;
    border-radius: 100%;
    background: rgba(255, 217, 224, 0.63);}

    #bola2{
        position: absolute;
        width: 611px;
        height: 611px;
        left: 0px;
        top: 90px;
        border-radius: 100%;
        background: rgba(255, 217, 224, 0.63);}

      #Data{
        width: 150px;
        height: 60px;
        border-radius: 20px;
        background: #EFA0AE;
        text-align: center;
        position: absolute;
        top: 200px;
        left: 650px;}

  #exames{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    top: 135px;
    position:absolute; 
    margin-left: 50px;
  }

  .resultados{
    width: 300px;
    height: 30px;
    border-radius: 20px;
    background: #EFA0AE;
    position: absolute;
    top: 230px;
    left: 990px;
  }
  #resultadosCu{
    background-color: #FFD9E0;
  }

    #linha1{
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0px;
    top: 310px;
    background-color: #c17884;
    transform: rotate(-0.02deg);}

    #linha2{
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0px;
        top: 630px;
        background-color: #c17884;
        transform: rotate(-0.02deg);}

    

    #espaco{
        height:80px;
        margin-top: 750px;}

      #prescricao::placeholder{
        position: absolute;
        top: 10px; 
        left: 10px;}

        #texto{
          position: absolute;
          top: 90px;
          left: 20px;}

    #especi{
      position: relative;
      font-family: 'anticslab';
      font-size: 10px;
      margin-top: 660px;}

     
      #logo2{width: 350px;
        height: 80px;}
        
      #logo{
      background-color: #EFA0AE;
      height: 80px;
      width: 100%;
      top: 0px;
      margin-left: -8px;
      position: absolute;}
      
      #pesquisa{
      background-color: #c17884;
      height: 50px;
      width: 100%;
      top: 80px;
      margin-left: -8px;
      position: absolute;}

     
  #botao {
    margin-left: 8px;
    background-color: #c17884;
    width: 200px;
    height: 45px;
    position: relative;
    top: 2.5px;
    font-family: 'anticslab';
    left: 5px;
    text-align: center;
    font-size: 1.35em;
    color: rgb(255, 222, 222);
    font-family: 'anticslab';
    text-decoration: none;
    border: none;
    border-radius: 0px;
  }
  
  #botao:hover {
    background-color: #eea1ae;
  }
  #botao:active {
    background-color: #d08995;
  }

  #no1{
    position: absolute; 
    top: 182px; 
    margin-left: 100px;
  }
  #no2{
    position: absolute;
    top: 230px;
     margin-left: 100px;
  }

  #dtex1{
    position: absolute;
     top: 380px;
     margin-left: 100px;
  }
  #dtex2{
    width: 450px;
     height: 300px;
     top: 370px;
     margin-left: 150px;
  }

  #img{position: absolute;
     top: 330px;
     margin-left: 800px;
  }
  #img2{
    width: 450px;
     height: 300px;
     top: 370px;
     margin-left: 800px;
  }

  #no{
    position: absolute;
     top: 182px;
     left: 100px;
  }
  #innno{
    position: absolute;
    top: 230px;
     left: 100px;
  }
 
  #dtex10{
    position: absolute;
     top: 330px;
     left: 100px;
  }
  #dtexi10{
    width: 450px;
     height: 300px;
     top: 370px;
     left: 150px;
     background-color: #dedede;
  }
  #img10{
    position: absolute;
     top: 330px;
     left: 800px;
  }
  #inputao{
    width: 450px;
     height: 300px;
     top: 370px;
     left: 800px;
     background-color: #dedede;
  }

