body{overflow-x: hidden;
  background-color: #F3BD72;
overflow-x: hidden;}
#voltar {
    display: inline-block;
    background-color: #EFA0AE;
    width: 80px;
    height: 35px;
    position: absolute;
    top: 50px;
    left: 80px;
    border-radius: 30px;
    text-align: center;
    font-size: small;
    text-decoration: none;}
    #voltar:hover {background-color: #EFA0AE;}
  #voltar:active {background-color: #EFA0AE;}
  #M {
    display: inline-block;
    background-color: #EFA0AE;
    width: 150px;
    height: 45px;
    position: absolute;
    top: 50px;
    left: 650px;
    border-radius: 30px;
    text-align: center;
    font-size: small;
    text-decoration: none;}
  #salvar {
    display: inline-block;
    background-color: #EFA0AE;
    width: 100px;
    height: 45px;
    position: absolute;
    top: 700px;
    left: 1400px;
    border-radius: 30px;
    text-align: center;
    font-size: small;
    text-decoration: none;}
    #salvar:hover {background-color: #EFA0AE;}
  #salvar:active {background-color: #EFA0AE;}
  #bola1{
    background-color: #EFA0AE;
    height: 555px;
    border-radius: 50%;
    top: 200px;
    width: 37%;
    margin-left: 0px;
    position:absolute;}
    #bola2{
        background-color: #EFA0AE;
        height: 405px;
        border-radius: 50%;
        top: 0px;
        width: 27%;
        margin-left: 1000px;
        position:absolute;}
    #informa{
      position: absolute;
      margin-top: 600px;
      left: 500px;
      }
    h3{
      margin-left:  560px;
      margin-top:  600px;
      font-family: 'anticslab';
    }
    h4{
      margin-top: -350px;
      margin-left: 450px;
      font-size: larger;
      font-family: 'anticslab';
    }
    h5{
      margin-top: 90px;
      margin-left: 450px;
      font-size: larger;
      font-family: 'anticslab';
    }
    input{
      position: absolute;
      font-family: 'anticslab';
      width: 591px;
      height: 28px;
      background: #FFFFFF;
      border-radius: 20px;
    }

    #i1{top: 240px; margin-left: 450px;}
    #i2{top: 335px; margin-left: 450px;}
    #i3{top: 430px; margin-left: 450px;}
    #i4{top: 525px; margin-left: 450px;}
