body{overflow-x: hidden;}
#bola1{
    background-color: #F9D29C;
    height: 405px;
    border-radius: 50%;
    top: 0px;
    width: 27%;
    font-family: 'anticslab';
    margin-left: 0px;
    position:absolute;}
    #bola2{
        background-color: #F9D29C;
        height: 405px;
        border-radius: 50%;
        top: 170px;
        width: 27%;
        margin-left: 1100px;
        font-family: 'anticslab';
        position:absolute;}
        #bola3{
        
            background-color: #F9D29C;
            height: 405px;
            border-radius: 50%;
            top: 350px;
            width: 27%;
            margin-left: 500px;
            position:absolute;}
#voltar {
    display: inline-block;
    background-color: #FFD3EE;
    height: 30px;
    width: 70px;
    border-radius: 12px;
    position: absolute;
    top: 50px;
    left: 80px;
    text-align: center;
    font-family: 'anticslab';
    font-size: small;
    text-decoration: none;}
    #voltar:hover {background-color: #fdc7e8;}
  #voltar:active {background-color: #fdddf1;}
   #p{
    background-color: #EFA0AE;
    width: 180px;
    height: 55px;
    top: 400px;
    border-radius: 20px;
    position: absolute;
    left: 488px;
    text-align: center;
    font-family: 'anticslab';
    font-size: small;
    font-family: 'anticslab';}
    #p:hover { background-color: #eea1ae;}
  #p:active {background-color:#d08995;}
  #m {
    background-color: #CE8DDE;
    width: 180px;
    height: 55px;
    top:400px;
    border-radius: 20px;
    position: absolute;
    font-family: 'anticslab';
    left: 678px;
    text-align: center;
    font-size: small;
    font-family: 'anticslab';}
    #m:hover {background-color: #ca7edd;}
  #m:active {background-color: #dea2ed;}
  #a {
    background-color: #54B6FE;
    width: 180px;
    height: 55px;
    font-family: 'anticslab';
    position: absolute;
    top: 400px;
    border-radius: 20px;
    left: 868px;
    text-align: center;
    font-size: small;
    font-family: 'anticslab';}
  #a:hover {background-color: #4bb3fe;}
  #a:active {background-color: #67bbf7;}
  p{
    font-family: 'anticslab';
    text-align: center;
    font-size: small;
  }
  h2{
    font-family: 'anticslab';
    text-align: center;
  }
  h1{
    font-family: 'anticslab';
    text-align: center;
  }

.link{
  text-decoration: none;
  color: #1839e1;
}

#loco{position: absolute; top: 330px; left: 630px;}
#log{position: absolute; top: 270px; left: 725px;}