@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{overflow-x: hidden; 
    background-color: #ffffff;}

    #logo2{width: 350px;
        height: 80px;}
        
      #logo{
      background-color: #EFA0AE;
      height: 80px;
      width: 100%;
      top: 0px;
      margin-left: -8px;
      position: absolute;}
      
      #pesquisa{
      background-color: #c17884;
      height: 50px;
      width: 100%;
      top: 80px;
      margin-left: -8px;
      position: absolute;}
      
#esferaP1{
    background-color: #febdc9a1;
    height: 612px;
    position: absolute;
    width: 648px;
    left: -37px;
    margin-top: 280px;
    border-radius: 4500px;
}
#esferaP2{
    background-color: #febdc9a1;
    height: 360px;
    position: absolute;
    width: 381px;
    margin-left: 980px;
    margin-top: 200px;
    border-radius: 4500px;
}
#retaP{
    background-color: #ee96a6;
    height: 120%;
    width: 5px;
    position: absolute;
    margin-left: 461px;
    top: 0px;
}

#retaP2{
    background-color: #ee96a6;
    height: 120%;
    width: 5px;
    position: absolute;
    margin-left: 999px;
    top: 0px;
}


h4{
    margin-top: 175px;
    position: absolute;
    font-family:"montserrat";

}
h5{
    margin-top: 530px;
    position: absolute;
    font-size: xx-large;
    font-family:"montserrat";
}

p{
    margin-top: 250px;
    font-size: large;
    font-family:"montserrat";
}
ul{
    margin-left: 0px;
    font-size: larger;
    font-family:"montserrat";
}
h2{color: rgb(255, 235, 235)}

#ben{left: -15px; 
    font-size: x-large;
    top: 35px;}

#li1{position: absolute;
    top: 150px;}

#li2{position: absolute; 
    top: 410px;
   }

#li3{position: absolute; 
    top: 500px; 
    text-align: justify;
   }

#li4{left: 500px; 
    font-size: x-large;
    top: 35px;}

#li5{position: absolute;
    left: 500px;
    top: 150px;}

#li6{position: absolute;
    top: 360px;
    left: 500px;}

#li7{position: absolute; 
    top: 450px; 
    left: 500px;}

#ben2{left: 1020px; 
    font-size: x-large;
    top: 35px;}

#li8{position: absolute; 
    top: 140px; 
    left: 1000px;}

#li9{position: absolute; 
    top: 360px; 
    left: 1000px;}

#li10{position: absolute;
     top: 440px; 
     left: 1000px;}


     #botao {
        margin-left: 40px;
        background-color: #c17884;
        width: 280px;
        height: 45px;
        position: relative;
        top: 2.5px;
        font-family: 'anticslab';
        left: 78px;
        text-align: center;
        font-size: 1.40em;
        color: rgb(255, 222, 222);
        font-family: 'anticslab';
        text-decoration: none;
        border: none;
        border-radius: 0px;
      }
      
      #botao:hover {
        background-color: #eea1ae;
      }
      #botao:active {
        background-color: #d08995;
      }