<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medical group</title>
    <link rel="shortcut icon" href="../../css/dino.png" type="image/x-icon">
    <link rel="stylesheet" href="../../css/especialidades.css">
    <style>
      @font-face {
          font-family: 'anticslab';
          src: url(../../outros/MonoSpatial[1]\ \(1\).ttf)
          format('truetype');
        }</style>
<div id="logo">
  <img id="logo2" src="../../img/logo2.png" alt="">
  <a href="../deslogarA.html">
    <p id="deslogar">
      deslogar
    </p> 
    <img id="fotdes" src="../../img/perfil.png" alt="">
  </a>
</div> 
  <div id="pesquisa">
        
  <a href="homeA.html">
    <input id="botao" type="button" value="Home">
  </a>
        
  <a href="Coadm.html">
    <input id="botao" type="button" value="Login">
  </a>
        
  <a href="">
    <input id="botao" type="button" value="Planos">
  </a>
  <a href="">
    <input id="botao" type="button" value="Contatos">
  </a>
  <a href="">
    <input id="botao" type="button" value="Consultas">
  </a>
  <a href="">
    <input id="botao" type="button" value="Meus exames">
  </a>
  <a href="">
    <input id="botao" type="button" value="Profissionais">
  </a>
</head>
<body style=" background-color: #D1FF68;">
  
  <h1 id="gastro">Gastropediatria:</h1>
  <p id="cuga">Cuida das doenças do trato gastrointestinal (esôfago, estômago, intestino delgado, cólon, reto e ânus).</p>
  <p id="trdo">Trata de doenças como:</p>
  <ul type="square" id="listaga">
    <li>Refluxo gastroesofágico;</li>
    <li>Constipação;</li>
    <li>Diarreia;</li>
    <li>Doença celíaca;</li>
    <li>Doença inflamatória intestinal;</li>
    <li>Alergia à proteína do leite de vaca;</li>
    <li>Síndrome do intestino irritável;</li>
    <li>Intolerância à lactose;</li>
    <li>Dor abdominal.</li>
  </ul>

      </div>
      <div id="esfera1"></div>
      <div id="seta"> </div>
</body>
</html>