<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medical group</title>
    <link rel="shortcut icon" href="../../img/flamingo.png" type="image/x-icon">
    <link rel="stylesheet" href="../../css/especialidades.css">
    <style>
      @font-face {
          font-family: 'anticslab';
          src: url(../../outros/MonoSpatial[1]\ \(1\).ttf)
          format('truetype');
        }</style>

<div id="logo">
  <img id="logo2" src="../../img/logo2.png" alt="">
  <a href="../deslogarA.html">
    <p id="deslogar">
      deslogar
    </p> 
    <img id="fotdes" src="../../img/perfil.png" alt="">
  </a>
</div> 
        <div id="pesquisa">

        <a href="homeA.html">
          <input id="botao" type="button" value="Home">
        </a>

        <a href="Coadm.html">
          <input id="botao" type="button" value="Login">
        </a>

        <a href="">
          <input id="botao" type="button" value="Planos">
        </a>
        <a href="">
          <input id="botao" type="button" value="Contatos">
        </a>
        <a href="">
          <input id="botao" type="button" value="Consultas">
        </a>
        <a href="">
          <input id="botao" type="button" value="Meus exames">
        </a>
        <a href="">
          <input id="botao" type="button" value="Profissionais">
        </a>
</head>
<body>
  
     <div id="textoOrto"> 
        <h4>Ortopedia Pediátrica</h4>
    <p>Subespecialidade ortopédica que abrange diversas doenças e traumas que podem acometer bebês,
    crianças e adolescentes. <br> Diferente dos adultos, as crianças estão em fase de crescimento e desenvolvimento. <br>
    Por isso, as lesões, infecções e deformidades merecem uma atenção diferenciada.As áreas de atuações mais comuns:</p>
    <br>
    <ul>
    <li>Deformidades e malformações congênitas;</li>
    <li>Displasia do quadril;</li>
    <li>Pé torto congênito</li>
    <li>Pé chato;</li>
    <li>Escoliose;</li>
    <li>Doenças neuromusculares;</li>
    <li>Trauma e fraturas dos membros superiores e inferiores.</li>
</ul>
</div>
       
</body>
</html>