<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/buscarA.css">
    <title>Cancelar Consulta</title>
    <style>
      @font-face {
        font-family: 'anticslab';
        src: url(../../outros/MonoSpatial[1]\ \(1\).ttf)
        format('truetype');
        font-weight: lighter;
        }
    </style>
     <div id="logo">
      <img id="logo2" src="../img/logo2.png" alt="">
      <a href="../deslogarA.html">
        <P style="position: absolute; top: 45px; left: 1400px;color: #000; font-size: small;">deslogar</P>
         <img style="position: absolute; top: 5px; left: 1400px;" src="../img/perfil.png" alt="">
      </a>
      <div id="bola1"></div>
      <div id="bola2"></div>
    </div> 
   
    <div id="pesquisa">
      
      <a href="homeA.html">
        <input id="botao" type="button" value="Home">
      </a>
      
      <a href="Coadm.html">
        <input id="botao" type="button" value="Marcar Consultas">
      </a>
        
      <a href="cancelconA.html">
        <input id="botao" type="button" value="Cancelar Consultas">
      </a>
  
      <a href="buscarA.html">
      <input id="botao" type="button" value="Buscar">
      </a>
    </div>
  
    <div id="retaP"></div>
  
  </head>

<body style="overflow-x: hidden;"> 
    
  <table style="top: 502px; ">
    <th>
        <td>Nome</td>
        <td>Profissão</td>
    </th>
    <tr>
        <td>Ted</td>
        <td>Estudante</td>
    </tr>
    <tr>
        <td>Ralf</td>
        <td>Designer</td>
    </tr>
</table>


</body>
</html>
