<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medical group</title>
    <link rel="shortcut icon" href="..views/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../views/css/cadastroG.css">
    <style>
        @font-face {
            font-family: 'anticslab';
            src: url(../../outros/MonoSpatial[1]\ \(1\).ttf)
            format('truetype');
          }</style>

 <div id="bola1"> 
        <a href="/Projeto_SP_Medical_Group_Final/siteOf-main/public/LoginG">
            <div id="voltar">
                <p>voltar</p> 
            </div>
        </a>
    </div>
    <div id="bola2"> </div>
    <div id="bola3"> </div>
    <a href="/Projeto_SP_Medical_Group_Final/siteOf-main/public/CadasM"><div id="p"> <p>Medico</p></div></a>
    <a href="/Projeto_SP_Medical_Group_Final/siteOf-main/public/CadasP"><div id="m"> <p>Paciente</p></div></a>
    <a href="/Projeto_SP_Medical_Group_Final/siteOf-main/public/CadasADM"><div id="a"> <p>Administradores</p></div></a>

</head>
<body style="background-color: #FFD3EE;">
   
     <h2 id="cadastrarcomo">você deseja cadastrar-se como:</h2>
    <h1 id="cadastro">Cadastro</h1>
</body>
</html>
