<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medical group</title>
    <link rel="shortcut icon" href="../../img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/cadastroA.css">
    <style>
      @font-face {
          font-family: 'anticslab';
          src: url(../outros/MonoSpatial[1]\ \(1\).ttf)
          format('truetype');
        }</style>

<div id="bola1">
    </div>
        <a href="cadastro-g.html"><div id="voltar">
            <p>voltar</p>
        </div></a>
        <div id="M"><p> Admistrador </p> </div>
        <a href="homeA.html"><div id="salvar"> <p> Salvar</p></div></a>
    <div id="bola2"></h5></div>
    <div id="informa"><table>
       </table></div>

</head>        
<body>
    
       <form method="POST" action="/PROJETO-FINAL-CLINICA/saveAdm">
           <p id="nc" name="nomecompleto">Nome completo:</p>
           <input id="nci"  type="text" placeholder="">
           <p id="cpf" name="cpf">CPF:</p>
           <input id="cpfi" type="text" placeholder="Apenas números">
           <p id="email" name="email">Email:</p>
           <input id="emaili" type="text" placeholder="">
           
           <p id="cremail" name="emailclinica">Crie um email para clínica:</p>
           <input id="cremaili" type="text" placeholder="">
           <p id="coema" name="confirmeemailclinica">Confirme seu email:</p>
           <input id="coemai"  type="text" placeholder="">
           <p id="crse" name="senhaclinica">Crie uma senha para clínica:</p>
           <input id="crsei" type="password" placeholder="">
           <p id="cose" name="confirmesenhaclinica">Confirme sua senha:</p>
           <input id="cosei"  type="password" placeholder="">
           
           <p id="dtna" name="datanascimento">Data de nascimento:</p>
            <input id="dtnai"  type="date">
       </form>
       
</body>
</html>