<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/cancelconsultaP.css">
  <title>Cancelar Consulta</title>
  <style>
    @font-face {
      font-family: 'anticslab';
      src: url(../outros/MonoSpatial[1]\ \(1\).ttf)
      format('truetype');
      font-weight: lighter;
      }
  </style>
   <div id="logo">
    <div id="bola1"></div>
    <div id="bola2"></div>
    <img id="logo2" src="../img/logo2.png" alt="">
    <a href="deslogar.html"><P style="position: absolute; top: 45px; left: 1400px;color: #000; font-size: small;">deslogar</P> <img style="position: absolute; top: 5px; left: 1400px;" src="../img/perfil.png" alt=""></a>
  </div> 
    <div id="pesquisa">
      <a href="homePaciente.html">
        <input id="botao" type="button" value="Home">
      </a>
        
      <a href="cancelconP.html">
        <input id="botao" type="button" value="Cancelar Consultas">
      </a>
        
      <a href="consultaP.html">
        <input id="botao" type="button" value="Consultas">
      </a>
    </div>
</head>
<body>

    <input type="button" value="Cancelar consulta" id="reta">
    <input type="text" placeholder="Nome do paciente:" id="no">
    <input type="date" value="2023-05-23" class="custom-input" id="da">
    <input type="time" class="custom-imputho" id="ho">
    <div id="mo">
      <textarea cols="30" rows="5" placeholder="Motivo do cancelamento:"></textarea>
</div>
<div>
  <a href="homePaciente.html">
    <input id="cancel" type="button" value="Cancelar consulta">
  </a>
</div>

</body>
</html>