<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medical group</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/consultasP.css">
    <style>
      @font-face {
          font-family: 'anticslab';
          src: url(../outros/MonoSpatial[1]\ \(1\).ttf )
          format('truetype');
        }</style>
        
        <div id="logo">
          <img id="logo2" src="../img/logo2.png" alt="">
          <a href="deslogar.html">
            <P style="position: absolute; top: -100px; left: 1350px;color: #000; font-size: small;">
              deslogar
            </P>
             <img style="position: absolute; top: 5px; left: 1400px;" src="../img/perfil.png" alt="">
          </a>
        </div> 
        <div id="esferaP1"></div>
        <div id="esferaP2"></div>
    <div id="pesquisa">
        
      <a href="homePaciente.html">
        <input id="botao" type="button" value="Home">
      </a>
        
      <a href="cancelconP.html">
        <input id="botao" type="button" value="Cancelar Consultas">
      </a>
        
      <a href="consultaP.html">
        <input id="botao" type="button" value="Consultas">
      </a>
    </div>
</head>
<body>

  <h1 id="h1">Consultas anteriores:</h1>

      <div id="seta"> </div>

      <div id="retangulo1">Edmundo dos Santos Pinto Junior</div>
      
      <div id="retangulo">Próxima consulta: 10/09/2023 </div>


  <div>Consultas: </div> 
  <input id="data" type="date">
 
      <img id="seta" src="../img/setata.png" alt=""> 

    <div id="retangulo2">
      <div class="retangulo4" id="cond">Condição:</div>
      <div id="c1" class="retangulo3">
        <ul type="1">
          <li>Febre alta 39°C</li>
          <li>Dores de cabeça intensas</li>
          <li>Dores musculares e nas articulações</li> 
          <li>Dor atrás dos olhos</li>
          <li>Erupção cutânea </li>
          <li>Fadiga e fraqueza</li>
          <li>Perda de apetite</li>
          <li>Náuseas e vômitos</li> 
          <li>Sangramento leve, pequenos sangramentos nasais</li>  
          <li>Dor abdominal</li>
        </ul>
      </div>
      <div class="retangulo4" id="rem">Remédios:</div>
      <div id="remedi" class="retangulo3">
        <ul>
          <li>Remédios</li>
          <li>Remédios</li>
          <li>Remédios</li> 
          <li>Remédios</li>
          <li>Remédios</li>
        </ul>
      </div>
      <div class="retangulo4" id="ates">Atestado:</div>
      <div id="r3" class="retangulo3"></div>
    </div>

</body>
</html>