<!DOCTYPE html>
<html lang="pt-br">
<head>
  <style>
    @font-face {
        font-family: 'anticslab';
        src: url(../outros/MonoSpatial[1]\ \(1\).ttf)
        format('truetype');
      }</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medical group</title>
    <link rel="shortcut icon" href="../views/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../views/css/contatos.css">

    <div id="logo">
      <img id="logo2" src="../views/img/logo2.png" alt="">
    </div> 
            <div id="pesquisa">
    
              
  <a href="/Projeto_SP_Medical_Group_Final/siteOf-main/public/HomePaciente">
    <input id="botao" type="button" value="Home">
  </a>

<a href="/Projeto_SP_Medical_Group_Final/siteOf-main/public/PlanosP">
  <input id="botao" type="button" value="Planos">
</a>
<a href="/Projeto_SP_Medical_Group_Final/siteOf-main/public/ContatosP">
  <input id="botao" type="button" value="Contatos">
</div>

</head>

<body id="imgfundo" style="overflow-x: hidden;">
  
    <div id="redes">
      <h1>(11) 9 9876-5432</h1>
      <h1>@MedicalGroupKids</h1>
      <h1>@MedicalGroupKids</h1>
      <h1>@MedicalGroupKids</h1>
    </div>

    <img src="../views/img/whatsapp.png" alt="" id="imgw">
    <img src="../views/img/insta.png" alt="" id="imgi">
    <img src="../views/img/twtt.png" alt="" id="imgt">
    <img src="../views/img/face.png" alt="" id="imgf">

    <h1 id="tc">Telefone da Clínica: (11) 4028-8204</h1>
    <h1 id="loc">Localização:</h1>
    <h1 id="rua">Rua Doutor Barros Júnior, nº 10, Centro - Salto.</h1>
    <img src="../views/img/mapa.png" alt="" id="imgca"> 
    <a href="https://www.google.com/maps/place/R.+Prudente+de+Moraes,+749+-+Centro,+Salto+-+SP,+13322-010/@-23.2031482,-47.2918521,17z/data=!3m1!4b1!4m6!3m5!1s0x94cf4e03b7aff4b1:0x8f1d7f9cd70af9c2!8m2!3d-23.2031482!4d-47.2892772!16s%2Fg%2F11b8yr5ntv">
      <h1 style=" font-size: medium; position: absolute; top: 500px; left: 900px;">
        Abrir no map's
      </h1>
    </a>
</body>
</html>