<!DOCTYPE html>
<html lang="pt-br">
<head>
  <style>
    @font-face {
        font-family: 'anticslab';
        src: url(../outros/MonoSpatial[1]\ \(1\).ttf)
        format('truetype');
        font-weight: lighter;
      }</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medical group</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/deslogar.css"> 
    <div id="logo">
      <img id="logo2" src="../img/logo2.png" alt="">
      
 </div> 
 <div id="pesquisa">
    
 <a href="homeMedico.html">
   <input id="botao" type="button" value="Home">
 </a>
</div>
<div id="bola1"></div>
<div id="bola2"></div>
<div id="bola3"></div>
</head>
<body>
        <a href="loginG.html"><div id="nova"><h2>Adicionar nova conta</h2></div></a>
             <div id="sair">
        <h2>Deseja sair da conta:</h2>
        <a href="homeGeral.html"><h3 id="conf">Confirmar</h3></a> 
    </div>
</body>
</html>

