<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medical group</title>
    <link rel="shortcut icon" href="../views/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../views/css/esquecisenhaa.css">
    <style>
      @font-face {
          font-family: 'anticslab';
          src: url(../outros/MonoSpatial[1]\ \(1\).ttf)
          format('truetype');
        }</style>
</head>       
<body>
    <div id="bola1">
        <h5>E-mail</h5>
        <input type="text" name="Digite" placeholder="Digite aqui">
    </div>
        <a href="/Projeto_SP_Medical_Group_Final/siteOf-main/public/LoginG"><div id="voltar">
            <p>voltar</p>
        </div></a>
        <div id="M">
            <p> Administrador </p>
        </div>
        <a href="/Projeto_SP_Medical_Group_Final/siteOf-main/public/Ladimisnistrador">
            <div id="salvar">
                <p>Salvar</p>
            </div>
        </a>
        <h4 style="position: absolute;">
            Enviaremos um email para confirmar que é você que está requisitando a mudança de senha.
        </h4>
    <div id="bola2"></div>
    <div id="informa"><table>
       </table></div>
       
       
</body>
</html>