<!DOCTYPE html>
<html lang="pt-br">
<head>
  <style>
    @font-face {
        font-family: 'anticslab';
        src: url(../outros/MonoSpatial[1]\ \(1\).ttf)
        format('truetype');
        font-weight: lighter;}
  </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medical group</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/examesp1.css">
    <div id="bola1"> </div>
    <div id="bola2"> </div>
    <div id="logo">
      <img id="logo2" src="../img/logo2.png" alt="">
  
    </div> 
            <div id="pesquisa">
    
            <a href="homeGeral.html">
              <input id="botao" type="button" value="Home">
            </a>
    
            <a href="loginG.html">
              <input id="botao" type="button" value="Login">
            </a>
    
            <a href="planos.html">
              <input id="botao" type="button" value="Planos">
            </a>
            <a href="contatos.html">
              <input id="botao" type="button" value="Contatos">
            </a>
            <a href="">
              <input id="botao" type="button" value="Consultas">
            </a>
            <a href="exames1.html">
              <input id="botao" type="button" value="Meus exames">
            </a>
            <a href="">
              <input id="botao" type="button" value="Profissionais">
            </a>
</head>

<body id="imgfundo">
  <p id="exames">Exames:</p> 
  <p id="no">Nome:</p>
        <input id="innno" type="text">

        <div id="Data">
          <p>Data de emissão do exame:</p>
        </div>

        
        <select name="select" class="resultados">
            <option id="resultadosCu" value="valor1">exame de ultrassom</option>
            <option id="resultadosCu" value="valor2">exame de fezes</option>
            <option id="resultadosCu" value="valor3">exame de sangue</option>
            <option id="resultadosCu" value="valor3">Raio-X tronco</option>
        </select>
    
        <p id="dtex10">Detalhes do exame:</p>
        <input id="dtexi10" type="">

        <p id="img10">Imagens:</p>
        <input id="inputao" type="">
      
</body>
</html>