<!DOCTYPE html>
<html lang="pt-br">
<head>
  <style>
    @font-face {
        font-family: 'anticslab';
        src: url(../outros/MonoSpatial[1]\ \(1\).ttf)
        format('truetype');
        font-weight: lighter;
      }</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medical group</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/home.css"> 
    <div id="logo">
      <img id="logo2" src="../img/logo2.png" alt="">
    </div>  
            <div id="pesquisa">
    
              <a href="homeGeral.html">
                <input id="botao" type="button" value="Home">
              </a>
      
              <a href="loginG.html">
                <input id="botao" type="button" value="Login">
              </a>
    
            <a href="planos.html">
              <input id="botao" type="button" value="Planos">
            </a>
            <a href="contatos.html">
              <input id="botao" type="button" value="Contatos">
            </a>
            <a href="consultasG.html">
              <input id="botao" type="button" value="Consultas">
            </a>
            <a href="exames1.html">
              <input id="botao" type="button" value="Meus exames">
            </a>
            <a href="/profpedgeral.html">
              <input id="botao" type="button" value="Profissionais">
            </a> 
  <p id="texto1">Nossa missão é</p> 
  <p id="texto2">proporcionar </p>
  <p id="texto3">atendimento de</p>
  <p id="texto4">exelência</p> 
  <p id="texto5">para as crianças!</p>
</div>
</head>

<body id="imgfundo">
 


  <div class="areas">
      <img src="../img/flamingo.png" id="fla">
      <img src="../img/dino.png" id="dino">
      <img src="../img/leao.png" id="leao">
      <img src="../img/golfo.png" id="gol">
</div>

    <h2 id="texGa">Gastropediatria</h2>
    <h2 id="texA">Alergologia e Imunologia</h2>
    <h2 id="texO">Ortopedia Pediátrica</h2>
    <h2 id="texP">Pediatria Geral</h2>
    
      <div id="rosa">
        <img src="../img/campanha2.png" alt="png" id="campanha">
      </div>
</body>
</html>