<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medical group</title>
    <link rel="shortcut icon" href="../views/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../views/css/Ladmistrador.css">
    <style>
      @font-face {
          font-family: 'anticslab';
          src: url(../outros/MonoSpatial[1]\ \(1\).ttf)
          format('truetype');
        }</style>
<body>
    <div id="bola1">
        <h5>CPF:</h5>
        <h5 style="top: 250px;">Senha:</h5>
    </div>
        <a href="/Projeto_SP_Medical_Group_Final/siteOf-main/public/LoginG"><div id="voltar">
            <p>voltar</p>
        </div></a>
        <div id="M"><p> Admistrador </p> </div>
        <a href="/Projeto_SP_Medical_Group_Final/siteOf-main/public/HomeAdministrador"><div id="salvar"> <p> Salvar</p></div></a>
    <div id="bola2"></h5></div>
    <div id="informa"><table>
       </table></div>
       <a href="/Projeto_SP_Medical_Group_Final/siteOf-main/public/esqueciasenhaA">
        <h3>
            Esqueceu a senha? Trocar a senha pelo E-MAIL
        </h3>
    </a>
       <h4>Nome completo:</h4>
       <input id="i1" type="text" placeholder="Use a inicial maiuscula" >
       <input id="i2" type="text" placeholder="Apenas números">
       <input id="i3" type="password" >
       
</body>
</html>