<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medical group</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../views/css/especialidades.css">
    <link rel="stylesheet" href="../views/css/planos.css">
    <style>
      @font-face {
          font-family:"montserrat";
          src: url(../outros/MonoSpatial[1]\ \(1\).ttf)
          format('truetype');
        }</style>
        <div id="esferaP1"></div>
        <div id="esferaP2"></div>
        <div id="textoOrto"></div>
        <div id="retaP"></div>
        <div id="retaP2"></div>
        <div id="retaPa"></div>

          <div id="logo">
            <img id="logo2" src="../views/img/logo2.png" alt="">
          </div> 

 <div id="pesquisa">
    
  <a href="/Projeto_SP_Medical_Group_Final/siteOf-main/public/HomePaciente">
    <input id="botao" type="button" value="Home">
  </a>

<a href="/Projeto_SP_Medical_Group_Final/siteOf-main/public/PlanosP">
  <input id="botao" type="button" value="Planos">
</a>
<a href="/Projeto_SP_Medical_Group_Final/siteOf-main/public/ContatosP">
  <input id="botao" type="button" value="Contatos">
</div>
 
</head>
<body style="overflow-x: hidden;">
    
  <h4 style="left: 20px; top: 20px;"> Plano Individual</h4>
  <p id="ben">Benefícios:</p>
  <ul type="square" id="li1">
    <li>Acesso à consultas personalizadas com<Br> especialistas de diversas áreas;</li>
    <li>Acesso ao Pronto Socorro da Clínica<Br> Medical<Br>  Group Kids;</li>
    <li>Exames laboratoriais feitos na própria<Br> clínica;</li>
    <li>Acesso direto em caso de internação;</li>
    <li>Acesso à quartos individuais para melhor<Br> comodidade da criança.</li>
  </ul>
  <ul type="square" id="li2">
    <li>Básico: R$410,00 (por mês).</li>
    <li>Premium: R$530,00 (por mês)</li>
  </ul>
  <ul type="square" id="li3">
    <li>Diferencial do Plano Individual Premium:<Br>
      Nesse plano, seu filho terá acesso, além<Br> dos benefícios do Plano Individual, a um<Br> tratamento especializado, com profissionais<Br> como enfermeiros e fisioterapeutas que<Br> atenderão exclusivamente sua criança<Br> enquanto estiver na Clínica Medical Group<Br> Kids.</li>
  </ul>




  <h4 style="left: 500px; top: 20px;"> Plano Familiar</h4>
  <p id="li4">Benefícios:</p>
  <ul type="square" id="li5">
    <li>Acesso à consultas personalizadas com
      <Br>especialistas de diversas áreas;
    </li>
    <li>Acesso ao Pronto Socorro da Clínica Medical
      <Br>  Group Kids;
    </li>
    <li>Exames laboratoriais feitos na própria clínica;</li>
    <li>Acesso direto em caso de internação;</li>
    <li>Desconto para assinantes com mais de um filho;</li>
    <li>Quartos compartilhados com somente uma pessoa.</li>
  </ul>
  <ul type="square" id="li6">
    <li>Duas crianças: R$372,00 (por mês);</li>
    <li>Mais de duas crianças: R$590,00 (por mês).</li>
  </ul>
  <ul type="square" id="li7">
    <li>(Parentesco de primeiro grau).</li>
  </ul>





  <h4 style="left: 1020px; top: 20px;"> Plano Empresarial</h4>
  <p id="ben2">Benefícios:</p>
  <ul type="square" id="li8">
    <li>Acesso à consultas personalizadas com<Br> especialistas de diversas áreas;</li>
    <li>Acesso ao Pronto Socorro da Clínica Medical<Br>  Group Kids;</li>
    <li>Exames laboratoriais feitos na própria clínica;</li>
    <li>Acesso direto em caso de internação;</li>
    <li>Quartos compartilhados com atendimentos de primeira<Br> mão para as crianças.</li>
  </ul>
  <ul type="square" id="li9">
    <li>Duas crianças: R$372,00 (por mês);</li>
    <li>Mais de duas crianças: R$590,00 (por mês).</li>
  </ul>
  <ul type="square" id="li10">
    <li>(Parentesco de primeiro grau).</li>
  </ul>

 
