<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="shortcut icon" href="../../img/leão.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medical group</title>
    <link rel="stylesheet" href="../../css/especialidades.css">
    <style>
      @font-face {
          font-family: 'anticslab';
          src: url(../../outros/MonoSpatial[1]\ \(1\).ttf)
          format('truetype');
        }</style>
   
   <div id="logo">
    <img id="logo2" src="../../img/logo2.png" alt="">
    <a href="../deslogarA.html">
      <p id="deslogar">
        deslogar
      </p> 
      <img id="fotdes" src="../../img/perfil.png" alt="">
    </a>
  </div> 
              <div id="pesquisa">
      
              <a href="homeA.html">
                <input id="botao" type="button" value="Home">
              </a>
      
              <a href="Coadm.html">
                <input id="botao" type="button" value="Login">
              </a>
      
              <a href="">
                <input id="botao" type="button" value="Planos">
              </a>
              <a href="">
                <input id="botao" type="button" value="Contatos">
              </a>
              <a href="">
                <input id="botao" type="button" value="Consultas">
              </a>
              <a href="">
                <input id="botao" type="button" value="Meus exames">
              </a>
              <a href="">
                <input id="botao" type="button" value="Profissionais">
              </a>

</head>
<body style="background-color:#F5AC71;">

    <h3 id="textoalergologia">
      Alergologia e imunologia Pediátrica
    <h3>

    <div id="paragrafo"> 
      <h4> O alergista e imunologista pediátrico 
        <br> faz o acompanhamento de rotina de crianças e 
        <br>  adolescentes, com uma visão integral do 
        <br> crescimento e desenvolvimento.  Também atende 
        <br> crianças com diversos tipos de alergias, como 
        <br> alergias alimentares, dermatite atópica, rinite e asma.
      </h4>
    </div>
          
</body>
</html>