<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/buscarA.css">
    <title>Cancelar Consulta</title>
    <style>
      @font-face {
        font-family: 'anticslab';
        src: url(../../outros/MonoSpatial[1]\ \(1\).ttf)
        format('truetype');
        font-weight: lighter;
        }
    </style>
     <div id="logo">
      <img id="logo2" src="../img/logo2.png" alt="">
      <a href="../html/deslogarA.html">
        <P style="position: absolute; top: 45px; left: 1400px;color: #000; font-size: small;">deslogar</P>
         <img style="position: absolute; top: 5px; left: 1400px;" src="../img/perfil.png" alt="">
      </a>
      <div id="bola1"></div>
      <div id="bola2"></div>
    </div> 
   
    <div id="pesquisa">
      
      <a href="homeA.html">
        <input id="botao" type="button" value="Home">
      </a>
      
      <a href="Coadm.html">
        <input id="botao" type="button" value="Marcar Consultas">
      </a>
        
      <a href="cancelconA.html">
        <input id="botao" type="button" value="Cancelar Consultas">
      </a>
  
      <a href="buscarA.html">
      <input id="botao" type="button" value="Buscar">
      </a>
    </div>
  

  
  </head>

<body style="overflow-x: hidden;"> 


<div class="opcoes-consulta" style="left: 450px;">
  <select name="select">
    <option value="valor1">Medicos</option>
    <option value="valor3">Pacientes</option>
    <option value="valor3">Administradores</option>
    <option value="valor3" selected>Todos</option>
  </select>
  <input type="text" placeholder="Nome" style="left:170px ;">
</div>

<div id="pesquisar" style="left:1100px; position: absolute; top: 250px;">
  Pesquisar 
</div>


<div style="left: 590px; position: relative; top: 300px; margin-top: 20px;">
  <table>
    <tr>
      <th>NOME</th>
      <th>FUNÇÃO</th>
    </tr>
    <tr>
      <td>Carolina B. Mello</td>
      <td>Adm</td>
  </tr>
  <tr>
    <td>Julia P. Rocha</td>
    <td>Med. Peditrica</td>
</tr>
<tr>
  <td>Ana Clara H. Sola</td>
  <td>Med. Geral</td>
</tr>
<tr>
  <td>Gustavo Correa</td>
  <td>Paciente</td>
</tr>
  </table>
</div>






</body>
</html>
