<!DOCTYPE html>
<html lang="pt-br">
<head>
  <style>
    @font-face {
        font-family: 'anticslab';
        src: url(../../outros/MonoSpatial[1]\ \(1\).ttf)
        format('truetype');
      }</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medical group</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon" >
    <link rel="stylesheet" href="../css/Coadm.css">
    <div id="bola1"> </div>
    <div id="bola2"> </div>
  <div id="logo">
  <img id="logo2" src="../img/logo2.png" alt="">
<a href="deslogarA.html">
    <P style="position: absolute; top: 45px; left: 1400px;color: #000; font-size: small;">
      deslogar
    </P>
  <img style="position: absolute; top: 5px; left: 1400px;" src="../img/perfil.png" alt="">
</a>
</div> 
</div> 
<div id="pesquisa">
   
<a href="homeA.html">
  <input id="botao" type="button" value="Home">
</a>
   
<a href="Coadm.html">
  <input id="botao" type="button" value="Marcar Consultas">
</a>
   
<a href="cancelconA.html">
  <input id="botao" type="button" value="Cancelar Consultas">
</a>

<a href="buscarA.html">
 <input id="botao" type="button" value="Buscar">
</a>
    
</head>
<body id="imgfundo">
    

        <div id="linha1"> </div>
        <p id="Nome">Nome do paciente:</p>
        <input id="nome2" type="text" placeholder="Use a inicial maiuscula">

        <p id="rg">RG do responsável:</p>
        <input id="rg2" type="text" placeholder="Sem pontos e barras">

        <p id="cart">N° da carteirinha Medical Group</p>
        <input id="cart2" type="text">

        <p id="data">Data da consulta:</p>
        <input id="data2" type="date">

        <p id="hora">Horário da consulta:</p>
        <input id="hora2" type="time">

        <p id="med">Médico atendente:</p>
        <input id="med2" type="text" placeholder="Use as iniciais maiusculas">

        <p id="area">Área da consulta:</p>
        <input id="area2" type="text" placeholder="Use as iniciais maiusculas">

        <p id="pres">Prescrição Prévia:</p>
        <div id="pres2">
          <textarea cols="30" rows="5">
          </textarea>
        </div>

        <div id="linha2"></div>
        <h3 id="conf"> Deseja confirmar consulta ou cancelar a consulta?</h3>

        <a href="consultamarcada.html">
          <div id="sim">Confirmar</div>
        </a>
        <a href="homeA.html">
          <div id="nao">Cancelar</div>
        </a>

        <a href="consultamarcada.html">
          <div id="salvar">salvar</div>
        </a>
        <div id="espaco"></div>

        
</body>
</html>