<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Group</title>
    <link rel="stylesheet" href="../css/consultamarcada.css">
    <style>
        @font-face {
            font-family: 'anticslab';
            src: url(../../outros/MonoSpatial[1]\ \(1\).ttf)
            format('truetype');
            font-weight: lighter;
          }</style>
          <div id="bola1"></div>
          <div id="bola2"></div>
          <div id="bola3"></div>
          <div id="logo">
            <img id="logo2" src="../img/logo2.png" alt="">
            <a href="deslogarA.html"><P style="position: absolute; top: 45px; left: 1400px;color: #000; font-size: small;">deslogar</P> <img style="position: absolute; top: 5px; left: 1400px;" src="../img/perfil.png" alt=""></a>
          </div> 
                  <div id="pesquisa">
          
                  <a href="homeA.html">
                    <input id="botao" type="button" value="Home">
                  </a>
          
                  <a href="Coadm.html">
                    <input id="botao" type="button" value="Marcar Consultas">
                  </a>
          
                  <a href="">
                    <input id="botao" type="button" value="Cancelar Consultas">
                  </a>
</head>
<body style="overflow-y: hidden;">
    <div id="nova">
      <h3>Data: --/--/----</h3>
    </div>
    <div id="sair">
        <h1>Consulta marcada</h1>
        <h1>com sucesso!</h1>
    </div>
</body>
</html>