<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medical group</title>
    <link rel="shortcut icon" href="../../img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/cadastroP.css">
    <style>
      @font-face {
          font-family: 'anticslab';
          src: url(../outros/MonoSpatial[1]\ \(1\).ttf)
          format('truetype');
        }</style>

<div id="bola1">
    </div>
        <a href="cadastro-g.html"><div id="voltar">
            <p>voltar</p>
        </div></a>
        <div id="P"><p> Paciente </p> </div>
        
    <div id="bola2"></h5></div>
    <div id="informa"><table>
       </table></div>
</head>
<body>
    <form action="/PROJETO-FINAL-CLINICA/ProjetoClinica/Cpaciente-save" method="post">
    <h1 id="infp">Informação do paciente</h1>

    <p>Nome do paciente:</p>
    <input type="text" name="nomedopaciente" id="npin">

    <p>Número do CPF:</p>
    <input type="text" name="cpfdopaciente" id="ncrmi" placeholder="Apenas números">

    <p>Número para contato:</p>
    <input type="text" name="numeroparacontato" id="nconi">

    <p>Email:</p>
    <input type="email" name="email" id="emaili">

    <p>Senha:</p>
    <input type="password" name="senhaclinica" id="senhai">

    <p>Data de nascimento:</p>
    <input type="date" name="datanascimentopaciente" id="dtnai">

    <p>Nome completo:</p>
    <input type="text" name="nomecompleto" id="nocoi">

    <p>CPF:</p>
    <input type="text" name="cpf" id="cpfi" placeholder="Apenas números">

    <p>Data de nascimento:</p>
    <input type="date" name="datanascimento" id="datanai">

    <p>Grau de parentesco com o responsável:</p>
    <input type="text" name="graudeparentesco" id="graui">

    <p>Seu sexo:</p>
    <select name="sexo" id="sexo">
        <option value="masculino">Masculino</option>
        <option value="feminino">Feminino</option>
        <option value="outros">Outros</option>
        <option value="prefiro_nao_dizer">Prefiro não dizer</option>
    </select>

    <p>Número da carteirinha Medical Group:</p>
    <input type="text" name="numerocarteirinha" id="ncari" placeholder="Apenas números">

    <p>Se sim, qual:</p>
    <input type="text" name="plano_detalhes" id="simi">

    <p>Você tem nosso plano:</p>
    <select name="plano" id="plano">
        <option value="sim">Tenho</option>
        <option value="nao">Não tenho</option>
    </select>

    <input type="submit" value="Salvar" id="salvar">
</form>

</body>
</html>