<!DOCTYPE html>
<html lang="pt-br">
<head>
  <style>
    @font-face {
        font-family: 'anticslab';
        src: url(../../outros/MonoSpatial[1]\ \(1\).ttf)
        format('truetype');
        font-weight: lighter;}
      </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medical group</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/cronograma.css">
    <div id="bola1"> </div>
    <div id="bola2"> </div>
 
        <div id="logo">
          <img id="logo2" src="../img/logo2.png" alt="">
          <a href="deslogarM.html">
            <P style="position: absolute; top: 45px; left: 1400px;color: #000; font-size: small;">
              deslogar
            </P>
            <img style="position: absolute; top: 5px; left: 1400px;" src="../img/perfil.png" alt="">
          </a>
        </div> 
    <div id="pesquisa">
        
    <a href="homeMedico.html">
      <input id="botao" type="button" value="Home">
    </a>
        
    <a href="Comedico.html">
      <input id="botao" type="button" value="Detalhamento das conslutas">
    </a>
        
    <a href="cronograma.html">
      <input id="botao" type="button" value="Cronograma">
    </a>
    <a href="examesM.html">
      <input id="botao" type="button" value="Inserir exames">
    </a>
</head>

<body id="imgfundo">
    <div id="linha1"> </div>
    
        <p id="dthj">Data de hoje</p>
        <input id="dth2" type="date" placeholder="">

        <p id="med">Médico</p>
        <input id="med2" type="text" placeholder="Médico responsável">

       
        <input type="text" value="Consultas do dia: " class="custom-input" id="cd2">
        
      <div id="p1">
        <input id="p1i" type="">
        <input id="p2i" type="">
        <input id="p3i" type="">
        <input id="i1" type="">
      </div>

      <div id="p2">
        <input id="i2" type="">
        <input id="i3" type="">
        <input id="i4" type="">
        <input id="i5"type="">
      </div>

        <img id="imgcalen" src="../img/calendario.png" alt="">
        <div id="linha2"></div>
        <h3 id="hp"> Horário do seu plantão:</h3>

        <p id="cmc">incio</p>
        <input id="i6" type="time">
        
        <p id="fim">fim</p>
        <input id="i7" type="time">
        
        <div id="salvar">salvar</div>

        <div id="espaco"></div>
   
</body>
</html>